



  <div class="row row-cols-1 row-cols-md-3 g-4">
  <div class="col">
    <article id="article_" class="article_ article card" style="width:100%; max-width:388px;">
      <img src="" class="card-img-top img-thumbnail" alt="...">
      <div class="card-body">
        <h5 class="card-title">Title</h5>
        <p class="card-text">Description</p>
        <!-- Button trigger modal -->
        <a href="#" class="btn btn-primary btn-primary--custom" data-bs-toggle="modal" data-bs-target="#openModal">
          Voir plus
        </a>
        <!-- Modal -->
        <div class="modal " id="openModal" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-xl">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="modalLabel">Modal title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                ...
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </article>
  </div>
  <div class="col">
    <article id="article_" class="article_ article card" style="width:100%; max-width:388px;">
      <img src="" class="card-img-top img-thumbnail" alt="...">
      <div class="card-body">
        <h5 class="card-title">Title</h5>
        <p class="card-text">Description</p>
        <!-- Button trigger modal -->
        <a href="#" class="btn btn-primary btn-primary--custom" data-bs-toggle="modal" data-bs-target="#openModal">
          Voir plus
        </a>
        <!-- Modal -->
        <div class="modal " id="openModal" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-xl">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="modalLabel">Modal title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                ...
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </article>
  </div>
  <div class="col">
    <article id="article_" class="article_ article card" style="width:100%; max-width:388px;">
      <img src="" class="card-img-top img-thumbnail" alt="...">
      <div class="card-body">
        <h5 class="card-title">Title</h5>
        <p class="card-text">Description</p>
        <!-- Button trigger modal -->
        <a href="#" class="btn btn-primary btn-primary--custom" data-bs-toggle="modal" data-bs-target="#openModal">
          Voir plus
        </a>
        <!-- Modal -->
        <div class="modal " id="openModal" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-xl">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="modalLabel">Modal title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                ...
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </article>
  </div>
  <div class="col">
    <article id="article_" class="article_ article card" style="width:100%; max-width:388px;">
      <img src="" class="card-img-top img-thumbnail" alt="...">
      <div class="card-body">
        <h5 class="card-title">Title</h5>
        <p class="card-text">Description</p>
        <!-- Button trigger modal -->
        <a href="#" class="btn btn-primary btn-primary--custom" data-bs-toggle="modal" data-bs-target="#openModal">
          Voir plus
        </a>
        <!-- Modal -->
        <div class="modal " id="openModal" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-xl">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="modalLabel">Modal title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                ...
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </article>
  </div>
  <div class="col">
    <article id="article_" class="article_ article card" style="width:100%; max-width:388px;">
      <img src="" class="card-img-top img-thumbnail" alt="...">
      <div class="card-body">
        <h5 class="card-title">Title</h5>
        <p class="card-text">Description</p>
        <!-- Button trigger modal -->
        <a href="#" class="btn btn-primary btn-primary--custom" data-bs-toggle="modal" data-bs-target="#openModal">
          Voir plus
        </a>
        <!-- Modal -->
        <div class="modal " id="openModal" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-xl">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="modalLabel">Modal title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                ...
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </article>
  </div>
  <div class="col">
    <article id="article_" class="article_ article card" style="width:100%; max-width:388px;">
      <img src="" class="card-img-top img-thumbnail" alt="...">
      <div class="card-body">
        <h5 class="card-title">Title</h5>
        <p class="card-text">Description</p>
        <!-- Button trigger modal -->
        <a href="#" class="btn btn-primary btn-primary--custom" data-bs-toggle="modal" data-bs-target="#openModal">
          Voir plus
        </a>
        <!-- Modal -->
        <div class="modal " id="openModal" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-xl">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="modalLabel">Modal title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                ...
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </article>
  </div>

  
</div>