{# templates/home/home.html.twig #} {% extends "./layout.html.twig" %}
{% block body %}

  <h1 class="mb-5">Welcome to the poor man's corner</h1>

  <section class="bg-light p-4 rounded form-container">
    <h2 class="mb-4 text-black">Latest arrivals</h2>
    {{ include("components/card/card.html.twig") }}
  </section>

{% endblock %}
