{# templates/home/home.html.twig #}
{% extends "./layout.html.twig" %}
{% block body %}
    <img src="{{ absolute_url(asset('images/logo.png')) }}"/>
    <h1>WELCOME</h1>
    <a href="{{ url("login") }}">Connexion</a>
{% endblock %}
