###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> symfony/phpunit-bridge ###
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###

###> phpunit/phpunit ###
/phpunit.xml
.phpunit.result.cache
###< phpunit/phpunit ###
/.env.test
/.env
.DS_Store

# Logs (Symfony4)
symfony/var/log/*
symfony/var/cache/*
symfony!var/log/.gitkeep
symfony/vendor/*

# Cache, session files and logs (Symfony3)
symfony/var/cache/*
symfony/var/logs/*
symfony/var/sessions/*
symfony/!var/cache/.gitkeep
symfony/!var/logs/.gitkeep
symfony/!var/sessions/.gitkeep