.name__user {
  color: $color-verdigris;
}
.text__commentaire {
  color: rgba(102, 102, 102, 1);
}
.container__commentaire {
  box-shadow: 0 0 16px rgb(13 35 57 / 10%);
}
.user__img {
  max-width: 100px;
  max-height: 100px;
}
