
.header {
  position: sticky;
  top: 0;
  z-index: 6;

  .navbar {
    box-shadow: 0 0 8px rgba(44, 88, 131, 0.235);
  }
  
  &__logo {
    max-width: 200px;
  }

  .subnavbar {
    box-shadow: 0 0 16px rgb(13 35 57 / 10%);
  }

}



// .header__search {
//   min-width: fit-content !important;
// }

