$color-verdigris: #28afb0;
$color-bluegraphite: #19647e;
$color-yellow: #f4d35e;
$color-sandy: #ee964b;
$color-eggplant: #1f0022;
$color-ivoire: #fffff0;
$color-text: #222;
$background: #fff;

.text {
  &-verdigris {
    color: $color-verdigris;
  }
  &-blue-graphite {
    color: $color-bluegraphite;
  }
  &-yellow {
    color: $color-yellow;
  }
  &-sandy {
    color: $color-sandy;
  }
  &-black {
    color: $color-text;
  }
}
