@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~bootstrap/scss/bootstrap";
@import "./variables.scss";
@import "./_header.scss";
@import "./_footer.scss";
@import "./_signin.scss";
@import "./_signup.scss";
@import "./_commentaire.scss";

body {
  background-color: $background;

  h1 {
    color: $color-text;
  }

  a {
    text-decoration: none;
  }
}

.t-link {
  transition: ease-in 300ms;

  &:hover {
    transition: ease-in 300ms;
    color: $color-verdigris !important;
    border-bottom: solid 1px $color-verdigris;
  }

  &--active {
    color: $color-verdigris !important;
    
    &:hover {
      transition: ease-in 300ms;
      color: $color-verdigris !important;
      border-bottom: solid 1px $color-verdigris;
    }
  }
}

.container-body {
  min-height: 80vh;
  padding-top: 112px !important;
}

.form-container {
  box-shadow: 0 0 16px rgb(13 35 57 / 10%);
}

.article {
  height: fit-content;
  cursor: pointer !important;
}

.btn {
  &-primary--custom {
    background-color: $color-verdigris !important;
    border-color: $color-verdigris !important;
    transition: ease-in 300ms;
    color: white;

    &:hover {
      transition: ease-in 300ms;
      background-color: $color-bluegraphite !important;
      border-color: $color-bluegraphite !important;
      color: white;

    }
  }
  &-secondary--custom {
    background-color: $color-sandy !important;
    border-color: $color-sandy !important;
    transition: ease-in 300ms;
    color: white;


    &:hover {
      transition: ease-in 300ms;
      background-color: $color-yellow !important;
      border-color: $color-yellow !important;
      color: white;
    }
  }
}

.signin, .signup {

  .form-container {
    max-height: 50vh;

  }
}
