@import "~bootstrap/scss/bootstrap";
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import "./variables.scss";
@import "./_header.scss";
@import "./_footer.scss";





body {
  background-color: $background;

  h1 {
    color: $color-text;
  }

  a {
    text-decoration: none;
  }
}



.container-body {
  min-height: 80vh;
  padding-top: 112px !important;
}

.article {
  height: fit-content;
  cursor: pointer !important;
}




.btn-primary--custom {
  background-color: $color-verdigris !important;
  border-color: $color-verdigris !important;
  transition: ease-in 300ms;

  &:hover {
    transition: ease-in 300ms;
    background-color: $color-sandy !important;
    border-color: $color-sandy !important;

  }
}