<h3 class="py-4">Reviews</h3>

<div>
  <div class="form-check form-check-inline">
    <input
      class="form-check-input"
      type="radio"
      name="inlineRadioOptions"
      id="inlineRadio1"
      value="option1"
    />
    <label class="form-check-label" for="inlineRadio1">1</label>
  </div>
  <div class="form-check form-check-inline">
    <input
      class="form-check-input"
      type="radio"
      name="inlineRadioOptions"
      id="inlineRadio2"
      value="option2"
    />
    <label class="form-check-label" for="inlineRadio2">2</label>
  </div>
  <div class="form-check form-check-inline">
    <input
      class="form-check-input"
      type="radio"
      name="inlineRadioOptions"
      id="inlineRadio3"
      value="option3"
    />
    <label class="form-check-label" for="inlineRadio3">3 </label>
  </div>
  <div class="form-check form-check-inline">
    <input
      class="form-check-input"
      type="radio"
      name="inlineRadioOptions"
      id="inlineRadio3"
      value="option3"
    />
    <label class="form-check-label" for="inlineRadio3">4 </label>
  </div>
  <div class="form-check form-check-inline">
    <input
      class="form-check-input"
      type="radio"
      name="inlineRadioOptions"
      id="inlineRadio3"
      value="option3"
    />
    <label class="form-check-label" for="inlineRadio3">5 </label>
  </div>
</div>

<div class="subnavbar pt-4 pb-5 bg-white">
  <form class="">
    <div class="form-floating d-flex container px-0">
      <textarea
        class="form-control me-2"
        placeholder="Leave a comment here"
        id="floatingTextarea"
        aria-label="search"
      ></textarea>
      <label for="floatingTextarea">Leave a comment here</label>
      <button class="btn btn-secondary--custom header__search" type="submit">
        Send
      </button>
    </div>
  </form>
</div>
