
<div class="subnavbar pt-4 pb-5 bg-white">
  <form class="">

    <div class="form-floating d-flex container px-0">
      <textarea
        class="form-control me-2"
        placeholder="Leave a comment here"
        id="floatingTextarea"
        aria-label="search"
      ></textarea>
      <label for="floatingTextarea">Leave a comment here</label>
      <button class="btn btn-secondary--custom header__search" type="submit">
        Send
      </button>
    </div>
  </form>
</div>
<div>
  <div class="d-flex bd-highlight container__commentaire rounded">
    <div class="p-4 flex-shrink-1 bd-highlight">
      <div class="user__img">
        <img
          src="{{ absolute_url(asset('images/logo.png')) }}"
          class="card-img-top"
          alt="LeBonCoin"
        />
      </div>
    </div>
    <div class="p-4 w-100 bd-highlight">
      <div class="d-flex justify-content-between">
        <a
          class="name__user t-link--active fw-bold"
          style="min-height: 27px"
          href=""
          >Dorian</a
        >
        <p class="text__commentaire mb-0 text-end text-secondary">
          il y a une semaine
        </p>
      </div>
      <div class="">
        <img
          src="{{ absolute_url(asset('images/stars.png')) }}"
          class="card-img-top mt-1 mb-0"
          alt=""
          style="max-width: 60px"
        />
        <p class="text__commentaire mt-3 mb-0">
          Super ! Vendeuse hyper sympa avec des articles de qualités
        </p>
      </div>
    </div>
  </div>
  <br />
  <div class="d-flex bd-highlight container__commentaire rounded">
    <div class="p-4 flex-shrink-1 bd-highlight">
      <div class="user__img">
        <img
          src="{{ absolute_url(asset('images/logo.png')) }}"
          class="card-img-top"
          alt="LeBonCoin"
        />
      </div>
    </div>
    <div class="p-4 w-100 bd-highlight">
      <div class="d-flex justify-content-between">
        <a
          class="name__user t-link--active fw-bold"
          style="min-height: 27px"
          href=""
          >Dorian</a
        >
        <p class="text__commentaire mb-0 text-end text-secondary">
          il y a une semaine
        </p>
      </div>
      <div class="">
        <img
          src="{{ absolute_url(asset('images/stars.png')) }}"
          class="card-img-top mt-1 mb-0"
          alt=""
          style="max-width: 60px"
        />
        <p class="text__commentaire mt-3 mb-0">
          Super ! Vendeuse hyper sympa avec des articles de qualités
        </p>
      </div>
    </div>
  </div>
  <br />
</div>

