{# templates/home/ad.html.twig #} 

{% extends "./layout.html.twig" %} 

{% block body %}

<section class="bg-light p-4 rounded form-container">
  <h2 class="mb-4 text-black">Intégration d'annonce ici</h2>
</section>
{% endblock %}
