{# templates/user/sellAds.html.twig #}
{% extends "./layout.html.twig" %}
{% block body %}

    <section class="bg-light p-4 rounded form-container">
        <h1 class="mb-5">ANNONCE VENTE</h1>
        {{ include("components/card/card.html.twig", { ads: ads, tags: tags }) }}
    </section>

{% endblock %}
