{# templates/home/commentaire.html.twig #} {% extends "./layout.html.twig" %} {%
block body %}
<div>
  <div class="d-flex bd-highlight container__commentaire">
    <div class="p-2 flex-shrink-1 bd-highlight">
      <div class="user__img">
        <img
          src="{{ absolute_url(asset('images/logo.png')) }}"
          class="card-img-top"
          alt="LeBonCoin"
        />
      </div>
    </div>
    <div class="p-2 w-100 bd-highlight">
      <div class="d-flex justify-content-between">
        <a class="name__user" href="">dorian</a>
        <p class="text__commentaire">il y a une semaine</p>
      </div>
      <div class="">
        <p>img etoiles</p>
        <p class="text__commentaire">
          Super ! Vendeuse hyper sympa avec des articles de qualités
        </p>
      </div>
    </div>
  </div>
  <br />
  <div class="d-flex bd-highlight container__commentaire">
    <div class="p-2 flex-shrink-1 bd-highlight">
      <div class="user__img">
        <img
          src="{{ absolute_url(asset('images/logo.png')) }}"
          class="card-img-top"
          alt="LeBonCoin"
        />
      </div>
    </div>
    <div class="p-2 w-100 bd-highlight">
      <div class="d-flex justify-content-between">
        <a class="name__user" href="">dorian</a>
        <p class="text__commentaire">il y a une semaine</p>
      </div>
      <div class="">
        <p>img etoiles</p>
        <p class="text__commentaire">
          Super ! Vendeuse hyper sympa avec des articles de qualités
        </p>
      </div>
    </div>
  </div>
  <br />
  <div class="d-flex bd-highlight container__commentaire">
    <div class="p-2 flex-shrink-1 bd-highlight">
      <div class="user__img">
        <img
          src="{{ absolute_url(asset('images/logo.png')) }}"
          class="card-img-top"
          alt="LeBonCoin"
        />
      </div>
    </div>
    <div class="p-2 w-100 bd-highlight">
      <div class="d-flex justify-content-between">
        <a class="name__user" href="">dorian</a>
        <p class="text__commentaire">il y a une semaine</p>
      </div>
      <div class="">
        <p>img etoiles</p>
        <p class="text__commentaire">
          Super ! Vendeuse hyper sympa avec des articles de qualités
        </p>
      </div>
    </div>
  </div>
</div>

{% endblock %}
