<header class="header ">
  <nav class="navbar navbar-expand-lg navbar-light bg-light p-4 text-light">
    <div class="container">
      <a class="navbar-brand mr-20 header__logo" href="#">
        <img src="{{ absolute_url(asset('images/logo.png')) }}" class="card-img-top  " alt="LeBonCoin">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse me-auto" id="navbarSupportedContent">
        <ul class="navbar-nav mb-2 mb-lg-0 me-4">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Accueil</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Contact</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Category
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>
        </ul>
        <form class="d-flex w-50">
          <input class="form-control me-2 " type="search" placeholder="iPhone 13 pro max 256go" aria-label="search">
          <button class="btn btn-primary--custom header__search" type="submit">Search</button>
        </form>
      </div>
      <div class="log">
        <a href="{{ url("signUp") }}">            
          <button class="btn btn-primary--custom" type="submit">Sign up</button>
        </a>
        <a href="{{ url("signIn") }}">            
          <button class="btn btn-primary--custom" type="submit">Log in</button>
        </a>

      </div>
    </div>
  </nav>
</header>