{# templates/home/signUp.html.twig #} {% extends "./layout.html.twig" %} {% block body %}

    <section class="signup py-3">
        <form method="post" action="{{ path('signUp') }}"
              class="signup__form form-container w-50 m-auto container bg-light p-5">
            <h3 class="mb-3">I register</h3>

            <input
                    type="hidden"
                    name="_csrf_token"
                    value="{{ csrf_token('authenticate') }}"
            />
            
            <!-- Email input -->
            <div class="form-outline mb-2">
                <input mame="email" type="email" id="form3Example3" class="form-control"/>
                <label class="form-label" for="form3Example3">Email address</label>
            </div>

            <!-- Password input -->
            <div class="form-outline mb-2">
                <input type="password" name="password" id="form3Example4" class="form-control"/>
                <label class="form-label" for="form3Example4">Password</label>
            </div>

            <!-- Submit button -->
            <button type="submit" class="btn btn-secondary--custom text-white btn-block mb-2">
                Sign up
            </button>
        </form>
    </section>

{% endblock %}
