<div class="container col-xxl-12 px-4 pt-0 pb-5">
  <div class="row flex-lg-row-reverse align-items-center g-5 pt-2 pb-5">
    <div class="col-10 col-sm-8 col-lg-6">
      <img
        src="{{ absolute_url(asset('images/hero.jpeg')) }}"
        class="d-block mx-lg-auto img-fluid"
        alt="Bootstrap Themes"
        width="700"
        height="500"
        loading="lazy"
      />
    </div>
    <div class="col-lg-6">
      <h1 class="display-5 fw-bold lh-1 mb-4">You don't use it ? Sell it.</h1>
      <p class="lead mb-4">
        Sint aute eiusmod nulla nulla fugiat aliqua eiusmod sunt minim elit. Qui
        et elit proident eu non elit veniam. Velit ipsum sunt fugiat irure.
        Consequat incididunt id qui pariatur. Commodo dolor do labore officia
        nostrud laboris eu ad fugiat aliqua dolor non et proident. 
      </p>
      <div class="d-grid gap-3 d-md-flex justify-content-md-start">
        <button
          type="button"
          class="btn btn-secondary--custom btn-lg px-4 me-md-2"
        >
          Let's go !
        </button>
        <button type="button" class="btn btn-outline-secondary--custom btn-lg px-4">
          Read more 
        </button>
      </div>
    </div>
  </div>
</div>
